#Ignore API Key & Zip files Files in Submission 1

**/SecretKeys.swift
**/Gametopia.zip
**/Final Submission - Gametopia.zip

# Ignore info.plist
*Info.plist

# Cocoapods
**/Pods/

# Link.txt
**/link.txt
